[submodule "edk2"]
	path = edk2
	url = ssh://gerrit.dc.com:29418/uefi/edk2
	branch = k1-dev
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = ssh://gerrit.dc.com:29418/uefi/edk2-platforms
	branch = k1-dev
